@font-face {
  font-family: Maximilian;
  src: url(./fonts/Maximilian.ttf);
}

* {
  box-sizing: border-box;
  margin: 0px;
}

header {
  padding-top: 20px;
}

h1 {
  text-align: center;
  font-family: Maximilian;
  font-size: 50px;
  font-weight: lighter;
  text-shadow: 0px 0px 10px white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 50px;
  font: 20px/1.2 "IM Fell English", "Georgia", serif;
  background-image: url(imgs/kingdomComeWallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

@media (min-height: 450px) {
  body {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-attachment: fixed;
  }
}

@media (max-width: 680px) {
  body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
}

main {
  margin: auto;
}

.first-list {
  min-width: 20rem;
  justify-content: flex-end;
  position: relative;
  box-shadow: cornflowerblue 0px 22px 70px 4px;
  border: 2px solid black;
  border-radius: 6px;
  background-color: gainsboro;
}

.container {
  align-items: center;
  justify-content: space-between;
}

form {
  display: flex;
  justify-content: flex-start;
}

#btn-create-list {
  display: flex;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 120px;
  margin: auto;
}

button,
input {
  height: 30px;
}

#task-input {
  width: 210px;
}

input:focus {
  outline: none;
}

.list-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.unordered-list {
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  font-size: 1em;
  gap: 27px;
  width: 100%;
  padding-left: 2px;
  height: 13em;
}

li {
  list-style: none;
}

li::before {
  content: "\00bb";
}

.edit-items {
  justify-content: flex-end;
}

#btn-edit-list {
  height: 35px;
}
